{#
/**
 * @file
 *
 * Default theme implementation for profiles.
 *
 * Available variables:
 * - content: Items for the content of the profile.
 *   Use 'content' to print them all, or print a subset such as
 *   'content.title'. Use the following code to exclude the
 *   printing of a given child element:
 *   @code
 *   {{ content|without('title') }}
 *   @endcode
 * - attributes: HTML attributes for the wrapper.
 * - profile: The profile object.
 * - url: The profile URL, if available.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('profile--teaser') }}>
  {{ title_suffix.contextual_links }}
  <div class="profile--teaser__head">
    <div class="profile--teaser__image">
      {% if profile.field_person_img.value %}
        {{ content.field_person_img }}
      {% else %}
        <div class="image-default">
          {{ profile.field_person_fname.value[:1]|upper }}{{ profile.field_person_lname.value[:1]|upper }}
        </div>
      {% endif %}
    </div>
  </div>
  <div class="profile--teaser__content">
    <div class="profile--teaser__content__name">
      <a href="{{ url }}">
        {{ profile.field_person_fname.value }}
        {{ profile.field_person_lname.value }}
      </a>
    </div>
    <div class="profile--teaser__content__job-title">
      {{ profile.field_person_job_title.value }}
    </div>

    <div class="profile--teaser__content__email">
    {% if profile.field_person_email_role.value %}
      {{ content.field_person_email_role }}
    {% else %}
      {{ content.field_person_email }}
    {% endif %}
    </div>

  </div>
</div>
