{#
/**
 * @file
 * Theme override to display a node.
 */
#}
{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    view_mode != 'full' and node.isPromoted() ? 'node--promoted',
    view_mode != 'full' and node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
  ]
%}
<article{{ attributes.addClass(classes) }}>
  {% block header %}
    {% if not is_front %}
    <header>
      {% if content.field_header_image %}
        {{ content.field_header_image }}
      {% endif %}

      {{ title_prefix }}
      {% if page %}
        <h1{{ title_attributes.addClass('page-title') }}>
          {{ label }}
        </h1>
      {% else %}
        <h2{{ title_attributes }}>
          <a href="{{ url }}" rel="bookmark">{{ label }}</a>
        </h2>
      {% endif %}
      {{ title_suffix }}
    </header>
    {% endif %}
  {% endblock %}

  {% block node_meta %}
  {% if display_submitted and page %}
    <footer class="node__meta">
      {# {{ author_picture }} #}
      <div{{ author_attributes.addClass('node__submitted') }}>
        {{ node.getCreatedTime()|format_date('custom', 'F j, Y') }}
        {% trans %}by {{ author_name }}{% endtrans %}
        {{ metadata }}
      </div>
    </footer>
  {% endif %}
  {% endblock %}

  {% block pre_content_custom_views %}{% endblock %}

  {% block node_content %}
  <div{{ content_attributes.addClass('node__content') }}>
    {{ content|without('links', 'prevnext_previous', 'prevnext_next', 'field_header_image') }}
  </div>
    <div class="prev-next-container clearfix">
      {{ content.prevnext_previous }}
      {{ content.prevnext_next }}
    </div>
  {% endblock %}

  {% block post_content_custom_views %}{% endblock %}

  {% block node_links %}
  {% if content.links %}
    <div class="node__links">
      {{ content.links }}
    </div>
  {% endif %}
  {% endblock %}

</article>
