{#
/**
 * @file
 * Theme override to display a node.
 */
#}
{%
  set classes = [
  'node',
  'node--type-' ~ node.bundle|clean_class,
  view_mode != 'full' and node.isPromoted() ? 'node--promoted',
  view_mode != 'full' and node.isSticky() ? 'node--sticky',
  not node.isPublished() ? 'node--unpublished',
  view_mode ? 'node--view-mode-' ~ view_mode|clean_class,
]
%}
<details{{ attributes.addClass(classes) }}>

  <summary{{ title_attributes }}>
    {{ title_prefix }}
    {{ label }}
    {{ title_suffix }}
  </summary>

  <div{{ content_attributes.addClass('node__content') }}>
    {{ content|without('links') }}
  </div>

  {% if content.links %}
    <div class="node__links">
      {{ content.links }}
    </div>
  {% endif %}

</details>
