{% if content %}
  <div{{ attributes.addClass('landing-banner') }}>
    {% if content.image %}
      <div{{ region_attributes.image.addClass('layout__region', 'landing-banner__image', 'extend–background') }}>
        {{ content.image }}
      </div>
    {% endif %}
    {% if content.title %}
      <div{{ region_attributes.title.addClass('layout__region', 'landing-banner__title') }}>
        {{ content.title }}
      </div>
    {% endif %}
  </div>
{% endif %}
