<div class="tweet__wrap" data-url="{{ tweet_url }}">
  <div class="tweet__meta">
    {% if tweet.retweet.text != '' %}
    <a href="https://twitter.com/{{ tweet.retweet.screen_name }}" title="{{ tweet.retweet.name }}" class="tweet__retweet" rel="nofollow noopener">
      <svg class="feather feather-repeat sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><polyline points="17 1 21 5 17 9"></polyline><path d="M3 11V9a4 4 0 0 1 4-4h14"></path><polyline points="7 23 3 19 7 15"></polyline><path d="M21 13v2a4 4 0 0 1-4 4H3"></path></svg>
      {{ tweet.retweet.text }}
    </a>
    {% endif %}
    {% if tweet.screen_name != 'UBC_CS' %}
    <div class="tweet__user">
      <div><a href="https://twitter.com/{{ tweet.screen_name }}" title="{{ tweet.name }}" rel="nofollow noopener"><img src="{{ tweet.profile_img }}" alt="" class="twitter-avator" /></a></div>
      <div>
        <div><a href="https://twitter.com/{{ tweet.screen_name }}" title="{{ tweet.name }}" rel="nofollow noopener">{{ tweet.name }}</a></div>
        <div><a href="https://twitter.com/{{ tweet.screen_name }}" title="{{ tweet.name }}" rel="nofollow noopener">@{{ tweet.screen_name }}</a></div>
      </div>
    </div>
    {% endif %}
  </div>
  <div class="tweet__text">{{ text }}</div>
  <div class="tweet__img-wrap">{{ image }}</div>
  <footer class="tweet__footer">
    <div class="likes">
      <a href="https://twitter.com/intent/like?tweet_id={{ tweet.id }}" title="Like" rel="nofollow noopener">
        <svg class="feather feather-heart sc-dnqmqq jxshSx" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" aria-hidden="true"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg>
      </a>
    </div>
    <div class="tweet__date">
      <time datetime="{{ timestamp|format_date('custom', 'c') }}">{{ timestamp|format_date('custom', 'M j, Y') }}</time>
    </div>
  </footer>
</div>

